// Colour Palette
$primary: #EAE3D3;
$white: #F3F3F3; 
$black: #131313;
$accent1: #D02D35;
$accent2: #F5EB29;
$accent3: #00ADED;

// Font Imports
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Font Variables
$primaryFont: 'Press Start 2P' 'sans-serif'

